# 1. run from the project root: pip install -t lib -r requirements.txt
# 2. copy in the lib/ directory longtask => https://github.com/mdornseif/gaetk_longtask

# add other requirements here below
six
ordereddict

# oauth2: not implemented yet


# pycurl: not supported by GAE, use urllib or urllib2
# use pycurl to run local tests
# pycurl==7.19.5.1
